/*--------------------------------------------------------------
# Elements: Global Styles for basic HTML elements
--------------------------------------------------------------*/
*{
  box-sizing: border-box ;
}

body, .editor-styles-wrapper{
  font: $font-regular_p;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  padding: 0;
  margin: 0;
}
img, a img{
  border: 0;
  max-width: 100%;
  height: auto;
}
a{
  color: $color-blue;
  &:active, &:focus{
    opacity: .8; 
    outline: 0;
  }
}
form{
  input, textarea{
    font: $font-medium_p;
    padding: $cell-standard/2 $cell-standard;
    border: 1px solid #c2cdd8;
    &:active, &:focus{
      border-color: $color-blue;
      outline: none;
    }
  }
  input{
    line-height: 1;
  }
  input[type=submit], button{
    line-height: 1;
    color: $color-white;
    background: $color-blue;
    padding: $cell-standard/2 $cell-standard;
    border: 1px solid $color-blue;
    font-weight: $font-weight-bold;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    outline: 0 !important;
    cursor: pointer;
    &:active{
      opacity: .8;
    }
  }
}
table{}