/*--------------------------------------------------------------
# Elements: Global Styles for basic HTML elements
--------------------------------------------------------------*/
*{
  box-sizing: border-box ;
}
body{
  padding: 0;
  margin: 0;
  font: $font-medium_p;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img, a img{
  border: 0;
  max-width: 100%;
  height: auto;
}
a{
  color: $color-blue;
  &:active, &:focus{
    opacity: .8; 
    outline: 0;
  }
}
form{
  input, textarea{
    font: $font-medium_p;
    padding: $cell-standard/2 $cell-standard;
    border: 1px solid #c2cdd8;
    &:active, &:focus{
      border-color: $color-blue;
      outline: none;
    }
  }
  input[type=submit], button{
    font: $font-medium_p;
    font-weight: $font-weight-bold;
    color: $color-white;
    background: $color-blue;
    border: 4px solid $color-blue;
    padding: $cell-standard/2 $cell-standard;
    outline: 0 !important;
    transition: .2s background;
    cursor: pointer;
    &:hover{
      background: transparent;
      color: $color-blue;
    }

  }
}
table{}