/*--------------------------------------------------------------
# Typeface Settings
--------------------------------------------------------------*/

// Variables (Correspond with Block Text Styles)
$font-family-standard: 'Noto Serif', serif;
$font-weight-bold: 700;
$font-weight-standard: 400;
$line-height-standard: 1.8em;
$font-normal_p: $font-weight-standard 16px/1.8 $font-family-standard;
$font-medium_p: $font-weight-standard 20px/1.8 $font-family-standard;
$font-small_p: $font-weight-standard 13px/1.8 $font-family-standard;
$font-large_p: $font-weight-standard 36px/1 $font-family-standard;
$font-huge_p: $font-weight-standard 48px/1 $font-family-standard;
$font-h1: $font-weight-bold 2.44em/1.4 $font-family-standard;
$font-h2: $font-weight-bold 1.95em/1.4 $font-family-standard;
$font-h3: $font-weight-bold 1.56em/1.4 $font-family-standard;
$font-h4: $font-weight-bold 1.25em/1.5 $font-family-standard;
$font-h5: $font-weight-bold 1em/1.8 $font-family-standard;
$font-h6: $font-weight-bold .8em/1.8 $font-family-standard;
