/*--------------------------------------------------------------
# File Block
--------------------------------------------------------------*/
.wp-block-file{
  
  // File link
  a{}

  // Download Button
  .wp-block-file__button{}

}