/*--------------------------------------------------------------
# Group Block
--------------------------------------------------------------*/
.wp-block-group{
  
  // All Children
  & > *{
    max-width: $container-standard;
    margin: $cell-standard auto;
    padding: $cell-standard 0;
  }

  // Hack to allow nested block spacing in editor.
  .block-editor-inner-blocks{
    max-width: inherit;
  }

}