/*--------------------------------------------------------------
# Responsive Mixins
--------------------------------------------------------------*/

// Container
@mixin responsive-standard_container(){
  max-width: $cell-standard*32;
  margin: 0 auto;
}
@mixin responsive-larger_container(){
  max-width: $screen-smaller_desktop;
  margin: 0 auto;
  @media only screen and (max-width: $screen-smaller_desktop){
    max-width: $cell-standard*32;
  }
}