/*--------------------------------------------------------------
# Styles for header.php
--------------------------------------------------------------*/
.header {
  text-align: center;
  box-shadow: 0 3px 14px rgba(0,0,0,.15);
  padding: 0 $cell-standard/2;

  // Logo (Optional)
  .header-logo{
    padding: $cell-standard*2 $cell-standard/2;
    text-align: center;
    .logo-link{
      .link-image{
        max-height: 111px;
        width: auto;
      }
    }
  }

  //Title and Description
  .header-title_and_tagline{
    display: block;
    color: $color-darker;
    text-decoration: none;
    padding: $cell-standard*2 $cell-standard/2;
    .title_and_tagline-title{
      font: $font-h1;
      line-height: 1em;
    }
    .title_and_tagline-tagline{
      font: $font-h3;
      line-height: 1em;
      margin-top: $cell-standard;
    }
  }

  // Navigation
  .header-menu{
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $screen-tablet){
      display: none;
    }
    .menu-item{
      margin: 0 $cell-standard;
      padding: $cell-standard/2 0;
      border-bottom: 4px solid transparent;
      &.current_page_item, &.current-menu-item{
        border-color: $color-light;
        a{
          color: $color-light;
          &:hover{
            text-decoration: none;
          }
        }
      }
      a{
        display: block;
        text-decoration: none;
        font: $font-medium_p;
        font-weight: $font-weight-bold;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  // Navigation with Button
  .header-button_addon{
    display: inline-block;
    color: $color-white;
    background: $color-blue;
    padding: $cell-standard/2 $cell-standard;
    margin-left: $cell-standard/2;
    font-weight: $font-weight-bold;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    @media only screen and (max-width: $screen-tablet){
      width: 100%;
      margin: 0 0 $cell-standard 0; 
      max-width: $container-standard;
    }
    &:hover{
      text-decoration: none;
    }
  }

  // Search Form
  .header-search_form{
    display: inline-flex;
    align-items: center;
    margin-left: $cell-standard/2;
    .search_form-input, .search_form-submit{
      font: $font-small_p;
      line-height: 1;
    }
    .search_form-input{
      padding: $cell-standard/2;
      max-width: $cell-standard*10;
    }
    .search_form-submit{
      border-width: 1px;
      border-left: 0;
      padding: $cell-standard/2 11px;
      border-radius: 0 4px 4px 0;
      &:hover{
        background: $color-blue;
      }
      .submit-icon{
        width: 16px;
        height: 16px;
      }
    }
    @media only screen and (max-width: $screen-tablet){
      margin: 0 auto $cell-standard auto;
      width: 100%;
      max-width: $container-standard;
      .search_form-input, .search_form-submit{
        font: $font-medium_p;
        line-height: 1;
      }
      .search_form-input{
        padding: $cell-standard/2;
        width: 100%;
        max-width: 100%;
        border-radius: 4px 0 0 4px;
      }
      .search_form-submit{
        width: 10%;
        border-width: 1px;
        padding: $cell-standard/2 11px;
        &:hover{
          background: $color-blue;
        }
        .submit-icon{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  
  // Toggle
  .header-toggle{
    display: none;
    position: relative;
    @media only screen and (max-width: $screen-tablet){
      cursor: pointer;
      background: $color-light;
      display: inline-block;
      height: $cell-standard*3;
      width: 100%;
      max-width: $container-standard;
      border-radius: 4px;
    }
    .toggle-icon, .toggle-icon:before, .toggle-icon:after{
      position: absolute;
      width: 40px;
      height: 4px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: $color-white;
    }
    .toggle-icon{
      display: inline-block;
      top: 50%;
      margin-top: -2px;
      margin-left: -20px;
      transition-timing-function: cubic-bezier(.55,.055,.675,.19);
      transition-duration: 75ms;
      width: 40px;
      height: 4px;
      &:before, &:after{
        display: block;
        content: "";
        position: absolute;
        width: 40px;
        height: 4px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 4px;
      }
      &:before{
        transition: top 75ms ease .12s,opacity 75ms ease;
        top: -10px;
      }
      &:after{
        transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
        bottom: -10px;
      }
    }
  }

  // Mobile Toggle Settings (Triggered via themeHeaderNavigation.js)
  &.navigationOpen{
    
    // Toggle
    .header-toggle{
      border-radius: 4px 4px 0 0;
      .toggle-icon{
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: rotate(45deg);
        background-color: $color-white;
        &:before, &:after{
          background-color: $color-white;

        }
        &:before{
          top: 0;
          transition: top 75ms ease,opacity 75ms ease .12s;
          opacity: 0;
        }
        &:after{
          bottom: 0;
          transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
          transform: rotate(-90deg);
        }
      }
    }
    
    // Menu
    .header-menu{
      display: block;
      background: $color-lighter;
      margin: -#{$cell-standard/2} auto $cell-standard/2 auto;
      border-radius: 0 0 4px 4px;
      max-width: $container-standard;
      width: 100%;
      .menu-item{
        margin: 0;
        padding: 0;
        border: 0;
        a{
          display: block;
          padding: $cell-standard/2;
          color: $color-white;
          border-bottom: 1px solid $color-white;
          &:hover{
            text-decoration: none;
          }
        }
        &:first-of-type{}
      }
    }
    
  }
  
}