/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

// Archive (layout-archive.php)
.layout-archive{
  
  // Callout  
  .archive-callout{
    
    // Text(Inverted + Regular)
    .callout-text, .callout-text_inverted{
      .text-title, .text_inverted-title{}
      .text-body, .text_inverted-body{}
    }
    
    // Text(Inverted)
    .callout-text_inverted{
      .text_inverted-title{}
      .text_inverted-body{}
    }
    
    // Background Image
    .callout-background_image{
      position: absolute;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }

  }
  
  // Loop Content
  .archive-loop_content{}

}

// Single Page (layout-single_page.php)
.layout-single_page{
  
  // Loop Content
  .single_page-loop_content{}
  
}

// Single Post (layout-single_post.php)
.layout-single_post{
  
  // Loop Content
  .single_post-loop_content{}
  
}

// 404 Error (layout-error_404.php)
.layout-error_404{
  .error_404-loop_content{
    max-width: $screen-tablet;
    padding: $cell-standard*2 $cell-standard/2;
    margin: 0 auto;
  }
}