/*--------------------------------------------------------------
# Single Content Layout (layouts/single.php)
--------------------------------------------------------------*/
.layout-single{
  
  // Loop & Error
  .single-loop, .single-error{
    margin: 0 auto;
    width: 100%;
  }

  // Loop
  .single-loop{
    padding: $cell-standard*2 0;

    // Title
    .loop-the_title{
      font: $font-h1;
      padding-bottom: $cell-standard;
      @include alignStandard();
    }

    // The Content
    .loop-the_content{
      padding: 0 $cell-standard;

      // Guttenberg Alignment Hack
      & > *  {
        @include alignStandard();
        &:last-of-type{
          margin-bottom: 0;
        }
      }

    }

    // Meta
    .loop-meta{
      width: $container-standard;
      margin: $cell-standard auto;
      color: $color-lighter;
      &:before{
        content: '';
        display: block;
        margin: $cell-standard*3 auto;
        width: 100px;
        height: 2px;
        background: $color-lighter
      }
      
      // All links
      a{
        color: $color-lighter;
      }

      // All icons
      svg{
        fill: $color-lighter;
        margin-right: 3px;
      }

      // Author Meta
      .meta-author{
        margin-right: $cell-standard;
        .categories-icon{}
      }
      
      // Date
      .meta-date{
        margin-right: $cell-standard;
        .date-icon{}
      }

      // Categories
      .meta-categories{
        .date-icon{}
        .categories-the_category{}
      }

    }
  
  }

  // Error
  .single-error{
    text-align: center;
    padding-bottom: $cell-standard*2;
      
    // Title
    .error-title{
      font: $font-h3;
    }
    
    // Body
    .error-body{
      font: $font-medium_p;
    }
      
  }

}