/*--------------------------------------------------------------
# Single Content Layout (layouts/single.php)
--------------------------------------------------------------*/
.layout-single{
  
  // Loop & Error
  .single-loop, .single-error{
    margin: 0 auto;
    width: 100%;
  }

  // Loop
  .single-loop{
    padding: $cell-standard*2 0;

    // Title
    .loop-the_title{
      font: $font-h1;
      padding-bottom: $cell-standard;
      @include alignStandard();
    }

    // The Content
    .loop-the_content{
      
      // Guttenberg Alignment Hack
      & > *  {
        @include alignStandard();
        &:last-of-type{
          margin-bottom: 0;
        }
      }

    }
  
  }

  // Error
  .single-error{
    text-align: center;
    padding-bottom: $cell-standard*2;
      
    // Title
    .error-title{
      font: $font-h3;
    }
    
    // Body
    .error-body{
      font: $font-medium_p;
    }
      
  }

}