/*--------------------------------------------------------------
# Document Properties: Properties for basic HTML elements
--------------------------------------------------------------*/
*{
  box-sizing: border-box !important;
}
body{
  margin: 0;
  font-family: $font-family-standard;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-standard;
}
img, a img{
  border: 0;
  max-width: 100%;
  height: auto;
}
a{
  color: $color-alternate;
  &:active, &:focus{
    opacity: .8; 
    outline: 0;
  }
}
form{}
table{}
h1 {
  font:$font-largest_standard;
}
h2 {
  font:$font-larger_standard;
}
h3 {
  font:$font-standard;
}
h4 {
  font:$font-smaller_standard;
}
h1, h2, h3, h4 {
  line-height: $line-height-standard;
  font-weight: $font-weight-bold;
}